<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Matmaxx.Butchr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Matmaxx.Butchr.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Matmaxx.Butchr.Properties.Settings>
            <setting name="LastSourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTargetFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectorFormLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="SelectorFormSize" serializeAs="String">
                <value>1000, 800</value>
            </setting>
            <setting name="LastRawFormat" serializeAs="String">
                <value>RAW</value>
            </setting>
            <setting name="PhotomatixCommandlinePath" serializeAs="String">
                <value>C:\Programme\PhotomatixPro3\PhotomatixCL.exe</value>
            </setting>
            <setting name="DefaultXmpFile" serializeAs="String">
                <value>default.xmp</value>
            </setting>
            <setting name="LastXmpImportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastXmpExportFile" serializeAs="String">
                <value />
            </setting>
            <setting name="PhotomatixCommandlinePathDefault" serializeAs="String">
                <value>C:\Programme\PhotomatixPro3\PhotomatixCL.exe</value>
            </setting>
            <setting name="PhotomatixCommandlineOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="PhotomatixCommandlineOptionsDefault" serializeAs="String">
                <value>-3 -t1 -s jpg -j 100 -h "remove"</value>
            </setting>
            <setting name="PhotomatixCommandlineOptionsURL" serializeAs="String">
                <value>Help\PhotomatixCommandline.html</value>
            </setting>
            <setting name="ScratchDirectoryName" serializeAs="String">
                <value>scratch</value>
            </setting>
            <setting name="DeleteSourceJpgsAfterScratching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeyGroupSelectedImages" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="KeyUngroupSelectedImages" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="MoveFilesOnImport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveFilesOnDistribute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThumbboxSizeMin" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ThumbboxSizeMax" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="ThumbboxSizeUsed" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ThumbboxMargin" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThumbsizeInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SplitVerticalDistance" serializeAs="String">
                <value>144</value>
            </setting>
            <setting name="SplitHorizontalDistance" serializeAs="String">
                <value>393</value>
            </setting>
            <setting name="TargetFolderMatchesSourceFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutogroupMinimumInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowHelpImport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelpAutoGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelpDistribute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelpScratchBatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelpOpenApplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelpGroupFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PublishSessionCatalogPath" serializeAs="String">
                <value>{0}\publish\Catalog.xml</value>
            </setting>
        </Matmaxx.Butchr.Properties.Settings>
        <Matmaxx.Butchr.UserInterface.Properties.Settings>
            <setting name="LastSourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTargetFolder" serializeAs="String">
                <value />
            </setting>
        </Matmaxx.Butchr.UserInterface.Properties.Settings>
    </userSettings>
</configuration>